.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header */
header {
  /* Banner */
  position: static;
  width: 100%;
  height: fit-content;
  left: 0px;
  top: 0px;
  background: #FFF969;
  font-size: 1.1rem;
}

@media only screen and (max-width: 978px) {
  header {
    position: static;
    z-index: 1;
    width: 100%;
    height: fit-content;
    padding-bottom: 5px;
    left: 0px;
    top: 0px;
    background: #FFF969;
    font-size: 1.1rem;
  }
}

/* Subreddit Logo */
.logo {
  margin: auto;
  width: 80px;
  height: 80px;
}

/* Subreddit Selector */
.subredditSelector select {
  font-family: 'IBMPlexMono-SemiBold';
  margin: 10px;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #000;
}

/* Subreddit Tagline */
.subredditTagline {
  margin: 0;
  font-family: 'IBMPlexMono-Thin';
}

/* Subreddit Subtitle */
.subredditSubTitle {
  margin-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'IBMPlexMono-Light';
}

/* Feed */
.feed {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
  max-width: 723px;
  height: 325px;
  top: 10px;
  font-size: 1.09rem;
}

/* Feed Content */
.post {
  height: auto;
  max-width: 550px;
  margin-top: 16px;
  background: white;
  border-radius: 3px;
}

/* Post Content */

.author {
  margin: 0px;
  font-size: 0.9rem;
}

.authorDate {
  position: relative;
  display: flex;
  gap: 20px;
  text-align: start;
  width: 414px;
  height: 36px;
  left: 10px;
  top: 5px;
}

.date {
  margin: 0px;
  font-family: 'IBMPlexMono-ExtraLight';
  font-size: 0.8rem;
}

.thumbnailTitleFlair {
  display: flex;
  position: relative;
  width: 468px;
  height: fit-content;
  padding: 0px 5px 0px 5px;
  margin-bottom: 5px;
  background: #FFFFFF;
}

ul,
li {
  padding: 5px;
  overflow-y: scroll;
}

/* Title and Flair */
.titleFlair {
  float: left;
  width: 100%;
  height: auto;
  top: 0px;
  margin-bottom: 5px;
  text-align: start;
}

.titleFlair h2 {
  font-family: 'IBMPlexMono-Medium';
  font-size: 1rem;
}

.postFlair {
  position: relative;
  width: fit-content;
  padding: 5px;
  height: 15px;
  background: #D9D9D9;
  border-radius: 15px;
  font-size: 0.72rem;
}

.thumbnail img {
  float: right;
  width: 140px;
  height: 100px;
  object-fit: cover;
}

@media only screen and (max-width: 340px) {
  .thumbnail img {
    position: relative;
    left: 0px;
    width: 140px;
    height: 100px;
    object-fit: cover;
  }
}

/* Post Actions */
.postActions {
  position: relative;
  display: flex;
  gap: 15px;
  left: 16px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 680px) {

  /* Feed */
  .feed,
  #feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    height: auto;
    top: 0px;
    font-size: 1.09rem;
  }

  /* Feed Content */
  .post {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    max-width: 85%;
    margin-top: 0px;
    top: 10px;
    background: white;
    border-radius: 3px;
  }

  /* Post Content */

  .author {
    margin: 0px;
    font-size: 0.9rem;
  }

  .authorDate {
    display: flex;
    gap: 20px;
    text-align: start;
    width: 100%;
    height: 36px;
    top: 5px;
  }

  .date {
    margin: 0px;
    font-family: 'IBMPlexMono-ExtraLight';
    font-size: 0.8rem;
  }

  .thumbnailTitleFlair {
    display: flex;
    max-width: 75%;
    height: fit-content;
    left: 0px;
    margin-bottom: 5px;
    background: #FFFFFF;
  }

  /* Title and Flair */
  .titleFlair {
    position: relative;
    max-width: 100%;
    height: auto;
    left: 16px;
    top: 0px;
    margin-bottom: 5px;
    text-align: start;
  }

  .titleFlair h2 {
    font-family: 'IBMPlexMono-Medium';
    font-size: 1rem;
  }

  .postFlair {
    position: relative;
    width: fit-content;
    padding: 5px;
    height: 15px;
    background: #D9D9D9;
    border-radius: 15px;
    font-size: 0.72rem;
  }

  .thumbnail img {
    position: relative;
    left: 60px;
    width: 140px;
    height: 100px;
    object-fit: cover;
  }

  /* Post Actions */
  .postActions {
    position: relative;
    display: flex;
    gap: 15px;
    left: 16px;
    margin-bottom: 5px;
  }
}

/* Filter Header */
.filterHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 37px;
  background: #FF69BA;
  border-radius: 3px 3px 0px 0px;
}

/* Flair Container */
.flairContainer {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 9px;
  float: right;
  max-width: 200px;
  background: #696FFF;
  border-radius: 3px;
}

@media only screen and (max-width: 680px) {

  .flairContainer {
    height: fit-content;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 10px;
    justify-content: center;
    margin-top: 0px;
    float: right;
    max-width: 100%;
    background: #696FFF;
    border-radius: 3px;
  }
}

/* Flair */
.flair {
  font-family: 'IBMPlexMono-Regular';
  flex-basis: 40%;
  flex-grow: 0;
  width: auto;
  background: #D9D9D9;
  border-radius: 15px;
}

/* Clear Filter Action */
.clearFlair {
  font-family: 'IBMPlexMono-Regular';
  width: 90%;
  height: 30px;
  background: #F8E47C;
  border-radius: 1px;
}