.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header */
header {
  /* Banner */
  position: absolute;
  display: block;
  width: 100%;
  height: 226px;
  left: 0px;
  top: 0px;
  background: #FFF969;
}

/* Subreddit Logo */
.logo {
  margin: auto;
  width: 80px;
  height: 80px;
}

/* Feed Content */
.post {
  position: relative;
  top: 226px;
  height: 153px;
  width: 550px;
  left: 173px;
  margin-top: 16px;
  overflow-y: scroll;
  background: #908c8c;
  border-radius: 3px;
}